*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  overflow: hidden;
}
.wellcome-msg {
  text-shadow: 0 0 1vw black;
}
.wellcome-msg h1{
  text-transform: uppercase;
  font-size: 5vw;
  text-align: center;
}
.wellcome-msg span{
  text-transform: uppercase;
  font-size: 1vw;
  display: block;
  text-align: center;
}
.wellcome-msg a {
  text-decoration: 0;
  color: aqua;
  
}
button{
  background-color: transparent;
  border: .1vw solid white;
  font-size: 1vw;
  color: white;
  cursor: pointer;
  padding: 1vw 2vw;
  border-radius: .5vw;
  text-transform: uppercase;
  font-weight: bold;
  transition: .3s ease-in-out;
  outline: 0;
  margin: 1vw;  
}

.start-game-btn,.help-btn:hover{
  color: gold;
}
.start-game-btn:hover{
  color: rgb(202, 172, 0);
}
button:hover{
  transform: scale(1.1);
}
button:active{
  transform: scale(1);
}
.game-wrap{
  background-image: linear-gradient(30deg,rgb(106, 96, 158),rgb(214, 87, 87));
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.disabled{
  cursor: not-allowed;
  opacity: .5;
}
.disabled:hover{
  transform: scale(1);
  cursor: not-allowed !important;
}
.flex-col,.main-page{
  display: flex;
  flex-direction: column;
}
.players-wrap{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  place-items: center;
  height: 100%;
}
.bottom-control-btn{
  width: 80%;
  margin: 2vw auto;
  max-height: 20vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  place-items: center;
}
.bottom-control-btn button{
  width: 100%;
  padding: 1.5vw 4vw;
  margin: 0 auto;
}
.new-game{
  background-color: white;
  color: black;
}
.dices_and_control_btns{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.example-enter {
  opacity: 0.01;
  transform: translateY();
}
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.example-leave {
  opacity: 1;
}
.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.dices-container{
  display: flex;
  justify-content: center;
}
.dice-img{
  width:100%;
  max-width: 100px;
  height: auto;
}

.active,.dice-wrap  {
  transition: .2s ease-in-out;
  animation: cube .2s ease-in-out;
}

.dice-wrap i.fas {
  font-size: 10vw;
  margin: 1vw;
}
.rotate-left{
  animation: rotate-left 1s ease-in-out ;
}
.rotate-right{
  animation: rotate-right 1s ease-in-out ;
}
.input-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invisible{
  display: none;
}
/* s */
.input-txt{
  font-size: 1.5vw;
  text-transform: uppercase;
  text-align: center;
  padding: 3vw;
}

.user-range-txt{
  display: block;
  color: gold;
  font-weight: bold;
  font-size: 3vw;
}
@keyframes rotate-left{
    0%{ transform: rotate(0)}
    100%{ transform: rotate(180deg)}
}
@keyframes rotate-right{
    0%{ transform: rotate(0)}
    100%{ transform: rotate(-180deg)}
}
.dice-wrap:first-child {
  color: rgb(214, 214, 93);
}
.dice-wrap:last-child {
  color: rgb(32, 38, 136);
}
.active{
  color: pink;
  text-shadow: 0 0 1vw black;
  position: relative;
  transform: scale(1.15);
}
.active::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1vw;
  height: 1vw;
  background-color: red;
  border-radius: 50%;
  animation: hover 1.2s ease-in-out infinite;
}

.loose-msg p,.winner-msg{
  text-align: center;
  animation: msg 2s .5s ease-in-out;
  color: yellow;
  opacity:0;
  font-size: 2vw;
}
.winner-msg{
  opacity:1;
  animation: winner-msg 5s .3s ease-in-out infinite;
  text-transform: uppercase;
}
@keyframes winner-msg {
  50% {
      transform: scale(1.5);
  }

}
.score-wrap,.temp-score-wrap {
  display: flex;
  position: relative;
  height: 100%;
  place-items: center;
  justify-content: center;
  padding: 3vw auto;
  margin: auto;
}
.score-wrap p {
  font-size: 5vw;
  display: flex;
  position: relative;
  place-items: center;
  justify-content: center;
}
.user-limit {
  -webkit-appearance: none;
  width: 20vw;
  height: 1.5vw;
  background: #90b5b9;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: .5vw;
}

.user-limit:hover {
  opacity: 1;
}

.user-limit::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5vw;
  height: 1.5vw;
  background: rgb(31, 31, 31);
  border: .1vw solid white;
  cursor: pointer;
  border-radius: .5vw;

}

.user-limit::-moz-range-thumb {
  height: 1.5vw;
  background: #4CAF50;
  cursor: pointer;
}
.cover {
  font-size: calc(1vw + .1rem);
}
.cover button {
  width: max-content;
  margin: 1vw auto;
  padding: 2vw 4vw;
  font-size: 2vw;
  border: 0;
}
.cover button:last-child{
  animation: hover-btn 1s ease-in-out infinite;
}
.cover footer {
  background-color: rgb(43, 41, 41);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1vw;
  margin: 0 auto;
}
footer{
  text-align: center;
  text-transform: capitalize;
  font-weight: lighter;
}
@keyframes dice-anima{
  0%{
    /* transform: translateX(10px); */
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes hover-btn {
  50%{
    transform: translateY(-20px);
  }
}
@keyframes msg {
  0%{
    opacity: 1;
  }
  50%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: scale(3);
  }
}
@keyframes hover{
  20%{
    opacity: 1;
  }
  79%{
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
}
@keyframes cube {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}