.player-container{
    display: flex;
    flex-direction: column;
    place-items: center;
    border: 1px solid transparent;
}
.player-score{
    display: flex;
}
.player-name,.player-score p{
    font-size: calc(5vw + .1rem);
    text-transform: uppercase;
}
.fa-bitcoin{
    font-size: calc(2vw + .1rem);
    text-transform: uppercase;
}
.spin{
    color: gold;
    transition: .3s ease-in-out;
    animation: spin 5s ease-in-out infinite;
}

.temp-score-wrap p {
    font-size: calc(2vw + 1rem);
}
.control-btns-wrap{
    display: flex;
    justify-content: space-between;
}
.control-btns-wrap button {
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    border: 1px solid orange;
    outline: 0;
    padding: 1vw 3vw;
    margin: 1vw 3vw;
    border-radius: .2vw;
    transition: .3s ease-in-out;
}
.control-btns-wrap button:first-child {
    border: 1px solid salmon;
}
.control-btns-wrap button:last-child {
    border: 1px solid green;
}
.control-btns-wrap button:hover {
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.control-btns-wrap button:first-child:hover {
    background-color:salmon;
}
.control-btns-wrap button:last-child:hover {
    background-color:green;
}

@keyframes spin {
    50%{
        transform: rotateY(1turn);
    }
}